@page "/miles95"
@rendermode InteractiveServer

<h3>Miles95</h3>

<button @onclick=GetMiles95Data>Get Data</button>

@if (miles95 != null)
{
	<h3>Date: @miles95.date</h3>
	<p>Price: @miles95.price</p>
}

@code {
	public Miles miles95;

	public HttpClient httpClient = new HttpClient();

	public async Task GetMiles95Data()
	{
		miles95 = await httpClient.GetFromJsonAsync<Miles>("https://magsapi.onrender.com/api/miles95");
		Console.WriteLine(miles95.date);
	}

	public class Miles
	{
		public string date { get; set; }
		public string price { get; set; }
	}
}
